@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* root */
:root{
  --color-primary: #0061FE;
  --color-body:#F7F7F9;
  --color-lightblue : #DEE8FA;
  --color-secondary:#1E255E;
  --color-main:#FFFF;

  --fw-medium : 400;
  --fw-regular :500;
  --fw-bold :700;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}
html{
  font-size: 62.5%;
}
ol, ul {
	list-style: none;
}

a , a:active , a:hover{
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

/* general style */
.btn{
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  outline: none;
  
}
.btn-primary{
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.68rem 2rem;
  border-radius: 6.25rem;
  
}
.link-item{
  color: var(--color-secondary);
  font-size: 1.5rem;
   display: none;
  
}
.btn-primary{
  display: none;
}




/* main style */
/* mobile navigation */
.logo{
  z-index: 10000;
}

.nav-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 2.25rem  3rem 2rem 3rem;
}


/* link on navigation  */
.main-list .link-item{
 
  font-size:1.6rem;
}
.main-list  .btn-primary{
  margin-left: 1rem;
}

 .link-item:not(.links-dif){
 margin-left: 1rem;
}
/* display none for mobile size */


/* hambuerger menu  */
.hamburger{
  display: block;
  position: relative;
 
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color:#000;
  z-index:991;
  transform-origin: 0 0;
  border-radius: 8px;
  transition: 0.4s;
  
}
.hamburger span:nth-child(2):hover{
  transform: translateX(10px);
 background-color:red;
}

/* close sign */
.hamburger.is-active span:nth-child(1){
  transform: translate(0 , -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
  opacity: 0;
}
.hamburger.is-active span:nth-child(3){
  transform: translate(-3px , 3px) rotate(-45deg);
}

/* create a diffrenece */




.mobile-nav{
  position: fixed;
  display: block;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: linear-gradient(180deg, #fff , #99b1c3 100%);
  padding-top: 150px;
  transition: 1s ;
}
.mobile-nav a{
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.mobile-nav.is-active{
 left: 0;
}
 
.mobile-nav a {
  color:#1E255E;
}
.mobile-nav .btn-mobile{
 
  color: #0061FE;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 2rem;
  border: 1px solid #0061FE;
  padding: 1rem 0;
}
.mobile-nav .btn-mobile:hover{
  background-color: #0061FE;
  color: #fff;
}




/* 640px ==40em , 1024px 64em , 1400px  == 87.5em*/
 @media (min-width :64em){

  .hamburger{
    display: none;
  }
 
  .nav-main{
    padding: 2.25rem  10rem 8.56rem 10rem ;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    
  }
  .main-list .link-item{
    display: block;
  }


 .main-list{
  display: flex;
  align-items: center;
  
 }

  .btn-primary{
    display: block;
  }
 }
