:root{
   --color-main-background : #181719: 
}
html{
  font-size: 62.5%;
  /* 10rem 9 rem 8 rem 7 rem  */
}
body{
  background-color: #181719;
  line-height: 1;
  
}
ul  , li{
  list-style: none;
}
a{
   color: black;
  text-decoration: none;
}
/* main style */
.title-logo{
  border: 1px solid #ffff;
  font-family: 'Crimson Pro';
  color: #ffff;
  font-weight: 200;
  font-size: 1.9rem;
  padding: 1rem 1.2rem;
}
.header{
  display: flex;
  align-content: center;
  justify-content: space-between;
  /* margin: 2.5rem 2.5rem; */
  max-width: 1300px;
    margin: 0 auto;

  padding: 1rem 1rem 0rem 1rem;
  position: relative;
}
.close{
  /* display: flex; */
  /* background-color: red; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* display: block; */
 
}
.hidden{
  display: none;
}
.btn-open{
  display: block;
}
.open{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-open{
  width: 30px;
  /* height: 40px; */
  background-color: white ;
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  font-size: 100px;
 
}
.btn-open:not(:last-child){
   margin-bottom: 5px;
}

.main-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-list .link-list{
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-left: 2rem;
  font-size: 1.8rem;
  /* display: none; */
}
.main-list{
  display: none;
}
.link-list.bold{
  font-size: 700;
  display: block;
  /* background-color: red; */
}
/* button */
.btn{
  color: #fff;
}

/* main */
.main{
  font-family: 'Montserrat';
  color: #fff;
  padding: 1rem 1rem 0rem 1rem  ;
}
.title-main{
  font-size: 3.5rem;
  font-weight: 500;
  font-family: 'Lora';
}
.lead-main{
  font-size: 1.6rem;
  max-width: 300px;
  line-height: 1.3;
  font-weight: 400;
  font-family: 'Montserrat';
}
 .btn-primary{
  border: none;
  background-color: transparent;
  color:#fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}
.btn-arrow-right{
  
  font-size: 30px;
  color: #fff;

}
.btn-main{
  display: flex;
  align-items: center;
  gap: 7px;
 
}
.main-img{
  /* max-width: 100%;
  object-fit: cover;
  width: 400px; */
  background-image: url("./images/main-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  position: relative;
}
.main-avator{
  background-color: #181719;
  /* display: flex;
  flex-direction: column; */
  max-width: 700px;
  width: 75%;
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;
  position: absolute;
  bottom: 0;
  /* top: 80%; */
  left: 12%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.header-avator img{
  width: 60px;
  border-radius: 50%;
}
.header-avator{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.main-detail{
  font-family: 'Lora';
  font-size: 1.8rem;
  font-weight: 700;
}


 .main-job{
  background-color: red;
  

 }
 .info-information{
  display: flex;
  flex-direction: column;
  
 }
 .title-name {

  margin: 1rem 0;
  padding: 0;
  font-size: 1.3rem;
}

.lead-job {
  margin: 0;
  padding: 0;
  color:#828282;
  font-size: 1.2rem;

}
.section-picture{
  margin-bottom: 13rem;
}
.main-section-flex{
  max-width: 1300px;
  margin: 0 auto;
}
.open-container{
  background-color: red;
 
}
.close{ 
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 0px;
  bottom: 0;
  transform: translate(-50% , 50%);
  cursor: pointer; 
  z-index: 10000;
  
}

.close::before , .close::after{
  position: absolute;
  content: '';
  height: 30px;
  width: 3px;
  background-color:white;
  text-align: center;
  cursor: pointer;
  z-index: 10000000;
  
 
}
.close::before{
  transform: rotate(45deg);
  
}
.close::after{
  transform: rotate(-45deg);
  
}
.hidden-list{
  display: none;
}

/* open va hidden */
.hidden{
  display: none;
}
.menub{
  background-color: transparent;
  border: none;
}

.close.hidden{
  display: flex;
}

.hidden-list{
  background-color: #181719;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  display: none;
  transition: 0.9s ease-in;
 
}
.hidden-list .link-list{
  color: white;
  font-size: 2rem;
  font-family: 'Montserrat';
}
.hidden-list.hidden{
  display: flex;
 
}









@media (min-width :600px) {
  html{
    font-size:56.25% ;
    /* 10rem 9 rem 8 rem 7 rem  */
  }
  .lead-main{
    max-width: 600px;
  }
  .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
  }
}



@media(min-width :900px){   

  .main-list{
    display: flex;
  }
  .open{
    display: none;
  }

  .main-section-flex{
    display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;

  
  }
  .main-img{
    background-image: url("./images/main-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
  }
  .main-avator{
    width: 55%;
  }
  .header{
    padding: 2rem 5rem 1rem 5rem;
  }
 
  .main-list li {
    margin-left: 7rem;
  }
  .main{
    padding: 1rem 5rem 1rem 5rem;
  }
  .main-avator{
    left: 42%;
    width: 49%;
    bottom: -10%;

  }
  .information{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    text-align: left;
  }

  .menub{
  
    display: none;
  }
   
}
